body {
    background-image: url("../img/hiv1.jpg");
}

#table {
    width: 95%;
}

#ward1 {
    padding: 50px;
    margin-right: 20px;
    background-color: powderblue;
    margin-top: 10px;
    margin-left: 100px;
}

#ward2 {
    padding: 50px;
    margin-right: 20px;
    background-color: powderblue;
    margin-top: 10px;
    margin-left: 100px;
    padding-right: 120px;
}

#ward3 {
    padding: 50px;
    margin-right: 20px;
    background-color: powderblue;
    margin-top: 10px;
    margin-left: 100px;
    padding-right: 120px;
}

.jumbotron {
    text-align: left;
    color: blue;
    background-image: url("../img/eat-healthy.jpg");
    background-size: 60%;
    border-radius: 0%;
    margin-bottom: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: plum;
    
}

#ward4 {
    padding: 50px;
    margin-right: 20px;
    background-color: powderblue;
    margin-top: 10px;
    margin-left: 100px;
    padding-right: 120px;
}