body {
    background-image: url("../img/hiv1.jpg");
}
#table {
    width: 100%;

}
#ward1 {
    padding: 50px;
    margin-right: 20px;
    background-color: powderblue;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 20px;
    padding-right: 120px;
    padding-left: 120px;
    
}
#ward2 {
    padding: 50px;
    margin-right: 20px;
    background-color: powderblue;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 20px;
    padding-right: 120px;
    padding-left: 120px;

}
#ward3 {
    padding: 50px;
    margin-right: 20px;
    background-color: powderblue;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 20px;
    padding-right: 120px;
    padding-left: 120px;
}
#ward4 {
    padding: 50px;
    background-color:powderblue;
    margin-top: 10px;
    margin-left: 100px;
    padding-right: 120px;
    padding-left: 120px;
    margin-right: 20px;
}
#table.a{
  table-layout: auto;
  width: 180px;
}
#table.b{
  table-layout: auto;
  width: 180px;
}
#table.c{
  table-layout: auto;
  width: 100%;
  font-size: 20px;
}
#table.d{
  table-layout: fixed;
    width: 100%;
}
.jumbotron{
  text-align: center;
  background-color: plum;
  color: blue;
  margin-bottom: 0%;
}
.footer{
    display: block;
    text-align: center;
    color: blue;
}
#btn{
    float: right;
    background-color: blue;
    margin-top: -30px;
}
h3{
    font-size: 50px;
}
